
#Supabase
NEXT_PUBLIC_SUPABASE_URL="your-supabase-url"
NEXT_PUBLIC_SUPABASE_KEY="your-anon-api-key"
SUPABASE_PROJECT_ID="your-project-id"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"


#Stream
STREAM_VIDEO_API_SECRET="your-stream-video-api-secret"
NEXT_PUBLIC_STREAM_VIDEO_API_KEY="your-stream-video-api-key"

#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your-clerk-publishable-key"
CLERK_SECRET_KEY="your-clerk-secret-key"